.my-style  {
    background-color: #E7CEA6;
    color: #0A6EBD;
}

#my-id {
    background-color: #FFD0D0  ;
    color: #176B87;
}

p {
    background-color: #A4907C ;
    color: aquamarine;
}

h1 {
    color: black;
}